@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-black dark:bg-neutral-950 dark:text-neutral-100 transition-colors duration-300;
}

.active{
    color: aquamarine;
}
.inactive{
    color: darkgray;
}
.container{
    position: relative;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}